@charset "UTF-8";
header {
  margin-top: 10px;
  display: flex;
  background: #ffffff91;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  position: absolute;
  top: 0; }

.logo {
  width: 300px;
  z-index: 10; }
  @media (max-width: 760px) {
    .logo {
      width: auto; } }
  .logo img {
    height: 65px;
    width: 210px; }

.menu-principal {
  z-index: 10; }
  @media (max-width: 760px) {
    .menu-principal {
      display: none; } }

#menu-principal, #menu-menuprincipal {
  z-index: 10;
  display: flex;
  font-family: lato;
  font-size: 14px;
  align-items: center;
  flex-grow: 1;
  text-transform: uppercase;
  list-style-type: none;
  font-weight: 600; }
  @media (max-width: 760px) {
    #menu-principal, #menu-menuprincipal {
      display: none; } }
  #menu-principal li, #menu-menuprincipal li {
    margin-right: 15px;
    margin-left: 15px;
    width: 90px; }
    #menu-principal li a, #menu-menuprincipal li a {
      color: black;
      text-decoration: none; }
  #menu-principal .sub-menu, #menu-menuprincipal .sub-menu {
    display: none;
    position: absolute;
    list-style-type: none;
    line-height: 30px;
    padding: 0px;
    margin-left: -14px;
    font-size: 12px; }
    #menu-principal .sub-menu li, #menu-menuprincipal .sub-menu li {
      padding: 5px 20px;
      background: white;
      width: 150px;
      line-height: 15px; }
      #menu-principal .sub-menu li a, #menu-menuprincipal .sub-menu li a {
        color: black; }
      #menu-principal .sub-menu li:hover, #menu-menuprincipal .sub-menu li:hover {
        background: #B31A15; }
        #menu-principal .sub-menu li:hover a, #menu-menuprincipal .sub-menu li:hover a {
          color: white; }
    #menu-principal .sub-menu .sub-menu, #menu-menuprincipal .sub-menu .sub-menu {
      position: absolute;
      left: 204px;
      top: 0px; }
      #menu-principal .sub-menu .sub-menu li, #menu-menuprincipal .sub-menu .sub-menu li {
        padding: 5px 10px;
        background: #d8d8d8; }
        #menu-principal .sub-menu .sub-menu li a, #menu-menuprincipal .sub-menu .sub-menu li a {
          color: black; }
        #menu-principal .sub-menu .sub-menu li:hover, #menu-menuprincipal .sub-menu .sub-menu li:hover {
          background: #B31A15; }
          #menu-principal .sub-menu .sub-menu li:hover a, #menu-menuprincipal .sub-menu .sub-menu li:hover a {
            color: white; }
    #menu-principal .sub-menu .menu-item-has-children:after, #menu-menuprincipal .sub-menu .menu-item-has-children:after {
      margin-left: 30px;
      font-size: 18px;
      padding-bottom: 2px;
      font-family: FontAwesome;
      color: #B31A15;
      content: ""; }

.menumovil {
  display: none;
  overflow: hidden; }
  @media (max-width: 760px) {
    .menumovil {
      display: flex;
      font-size: 2em;
      font-weight: 900; } }

.movilFull {
  display: none;
  position: fixed;
  left: 0px;
  height: 100vh;
  width: 300px;
  background: rgba(0, 0, 0, 0.95);
  bottom: 0px;
  z-index: 900;
  margin-top: 20px; }
  .movilFull i {
    color: #ffffff;
    font-size: 3em;
    text-align: end;
    width: 95%;
    margin-top: 60px; }

.menu-movil2 {
  list-style-type: none;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 22px !important;
  font-size: 20px;
  line-height: 35px; }
  .menu-movil2 a {
    color: #ffffff; }
  .menu-movil2 .sub-menu {
    list-style: none; }
    .menu-movil2 .sub-menu a {
      color: white;
      font-size: 15px; }

#menu-principal-1 li {
  margin-bottom: 20px; }

ul#menu-principalmenu {
  display: flex;
  list-style-type: none; }

.expand {
  padding: 0px !important; }

.dropdown-toggle {
  position: relative; }

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  line-height: 1px !important; }

/* Links inside the dropdown */
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  line-height: 1px !important;
  margin-top: 3px;
  margin-bottom: 3px; }

.dropdown:hover > .dropdown-menu {
  display: block; }
  .dropdown:hover > .dropdown-menu a {
    color: black;
    font-size: 16px;
    line-height: 16px !important; }
    .dropdown:hover > .dropdown-menu a:hover {
      font-weight: 600;
      color: white;
      background: #B31A15; }

.dropdown-item {
  line-height: 1px; }

ul.sub-menu li > a {
  color: black; }

footer {
  background: #B31A15;
  width: 100%;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-style: normal; }

.cajafooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 289px; }
  @media (max-width: 760px) {
    .cajafooter {
      height: auto;
      flex-direction: column; } }
  .cajafooter h3 {
    color: #E3C51E;
    margin-bottom: -15px; }
  .cajafooter .logoF {
    z-index: 10; }
    .cajafooter .logoF img {
      height: 65px; }
    @media (max-width: 760px) {
      .cajafooter .logoF {
        margin-top: 20px;
        align-items: center; } }
  .cajafooter .textoFooter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    @media (max-width: 760px) {
      .cajafooter .textoFooter {
        height: auto;
        flex-direction: column; } }
  .cajafooter .texto {
    width: 210px;
    text-align: center; }
  .cajafooter .dibujo img {
    width: 300px; }
    @media (max-width: 760px) {
      .cajafooter .dibujo img {
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px; } }

div#flexinicio .slides img {
  margin: 0 auto !important;
  width: 90% !important; }

div#flexproductos .slides img {
  margin: 0 auto !important;
  width: 100% !important;
  height: 100% !important; }

div#flexproductos, div#flex1, div#flex2, div#flex3, div#flex4, div#flex5, div#flex6 {
  margin-bottom: 0px !important; }
  div#flexproductos .flex-control-nav, div#flex1 .flex-control-nav, div#flex2 .flex-control-nav, div#flex3 .flex-control-nav, div#flex4 .flex-control-nav, div#flex5 .flex-control-nav, div#flex6 .flex-control-nav {
    bottom: 10px; }

.videofull {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9000;
  display: none; }
  .videofull .vidCerrar {
    color: #ffffff;
    text-align: end;
    font-size: 20px;
    font-size: 40px;
    margin-right: 20px;
    margin-bottom: 5px; }
    .videofull .vidCerrar:hover {
      color: #E3C51E; }
  .videofull .vidStream {
    margin: 0 auto; }

.video {
  margin-top: 10px;
  background: #B31A15;
  color: #FFF;
  padding: 4px;
  font-size: 12px;
  width: 80px;
  cursor: pointer;
  transition: all 0.2s ease-in; }
  .video:hover {
    color: black;
    background: #E3C51E; }
  @media (max-width: 760px) {
    .video {
      margin-top: 5px;
      font-size: 20px;
      padding: 10px;
      margin: 0 auto;
      margin-bottom: 10px; } }

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%; }

.clientes {
  flex-direction: column;
  align-items: center;
  width: 90%; }
  .clientes .titulo {
    margin-top: 35px;
    margin-bottom: 40px;
    font-family: lato;
    font-size: 26px;
    font-weight: 400;
    width: 100%;
    text-align: center; }
    .clientes .titulo span {
      background: #B31A15;
      color: #FFF;
      padding: 8px; }

@media (max-width: 760px) {
  #flexinicio {
    display: none; } }

#flexinicio_movil {
  display: none; }
  @media (max-width: 760px) {
    #flexinicio_movil {
      display: block; } }

div#flexinicio .slides img {
  margin: 0 auto !important;
  width: 90% !important; }

.hero {
  background: url("../img/El-Romero-Slider.jpg");
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 520px;
  position: relative;
  display: flex;
  overflow: hidden; }
  .hero .slide {
    position: absolute;
    width: 300%;
    height: 100%;
    display: flex; }
    .hero .slide .sl1 {
      height: 100%;
      width: 33.3%;
      background-size: contain; }
  .hero .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 40%;
    left: 15px; }
    @media (max-width: 760px) {
      .hero .info {
        top: 30%; } }
    .hero .info .titulo {
      background: #B31A15;
      color: #ffffff;
      font-size: 45px;
      padding: 10px; }
    .hero .info .desc {
      background: #ffffffa6;
      color: black;
      padding: 10px; }
    .hero .info a {
      background: #E3C51E;
      margin-top: 20px;
      padding: 10px;
      color: black;
      transition: all 0.2s ease; }
      .hero .info a:hover {
        margin-left: 10px;
        border: 1px #FFF solid;
        color: #FFF; }
      .hero .info a i {
        font-size: 18px; }
  .hero .thumb {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px; }
    .hero .thumb .t1, .hero .thumb .t2, .hero .thumb .t3, .hero .thumb .t4, .hero .thumb .t5 {
      width: 100px;
      height: 100px;
      margin-left: 7px;
      margin-right: 7px;
      border: #ffffff00 1px solid;
      cursor: pointer;
      transition: all 0.2s ease-in; }
      .hero .thumb .t1:hover, .hero .thumb .t2:hover, .hero .thumb .t3:hover, .hero .thumb .t4:hover, .hero .thumb .t5:hover {
        border: #ffffff 1px solid;
        filter: grayscale(100%); }
    .hero .thumb .t1 {
      background: url("../img/thumbnail-El Romero.jpg"); }
    .hero .thumb .t2 {
      background: url("../img/thumbnail-La Esperanza.jpg"); }
    .hero .thumb .t3 {
      background: url("../img/thumbnail-Marchigue.jpg"); }
    .hero .thumb .t4 {
      background: url("../img/thumb_ElManzano.jpg"); }
    .hero .thumb .t5 {
      background: url("../img/thumb_Luna.jpg"); }

.bajada {
  height: 287px;
  width: 100%;
  overflow: hidden;
  background: #E6E6E6;
  display: flex; }
  @media (max-width: 760px) {
    .bajada {
      flex-direction: column;
      height: auto; } }
  .bajada .fecha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%; }
    @media (max-width: 760px) {
      .bajada .fecha {
        margin-top: 40px;
        width: 100%;
        height: 100px; } }
    .bajada .fecha p {
      font-size: 90px;
      display: flex;
      align-items: center; }
      .bajada .fecha p span {
        background: #B31A15;
        padding: 11px;
        font-size: 25px;
        color: #FFF; }
  .bajada .linea {
    width: 2px;
    background: #B31A15;
    margin: 60px 0px 60px 0px; }
    @media (max-width: 760px) {
      .bajada .linea {
        display: none; } }
  .bajada .info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    padding: 10px; }
    @media (max-width: 760px) {
      .bajada .info {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px; } }
    .bajada .info p {
      width: 60%;
      text-align: justify;
      margin-right: 40px; }
      @media (max-width: 760px) {
        .bajada .info p {
          width: 80%; } }
    .bajada .info img {
      width: 110px; }

.videoreel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  width: 95%; }

.banner-ppal {
  margin-top: 100px; }
  @media (max-width: 760px) {
    .banner-ppal {
      margin-top: 150px;
      margin-bottom: 40px; } }
  .banner-ppal legend {
    max-width: 600px;
    line-height: 22px; }

.sliders {
  display: grid;
  margin: 90px;
  grid-gap: 30px;
  grid-template-areas: "sl1 sl2 sl2" "sl3 sl4 sl5"; }
  .sliders .sliders1 {
    grid-area: sl1; }
  .sliders .sliders2 {
    grid-area: sl2; }
  .sliders .sliders3 {
    grid-area: sl3; }
  .sliders .sliders4 {
    grid-area: sl4; }
  .sliders .sliders5 {
    grid-area: sl5; }
  @media (max-width: 600px) {
    .sliders {
      margin: 0px;
      grid-template-areas: "sl1" "sl2" "sl3" "sl4" "sl5"; }
      .sliders .sliders1 {
        grid-area: sl1;
        height: 500px; }
        .sliders .sliders1 div.uk-row-first {
          height: 530px; }
      .sliders .sliders2 {
        grid-area: sl2;
        height: 500px; }
        .sliders .sliders2 div.uk-row-first {
          height: 530px; }
      .sliders .sliders3 {
        grid-area: sl3;
        height: 500px; }
        .sliders .sliders3 div.uk-row-first {
          height: 530px; }
      .sliders .sliders4 {
        grid-area: sl4;
        height: 500px; }
        .sliders .sliders4 div.uk-row-first {
          height: 530px; }
      .sliders .sliders5 {
        grid-area: sl5;
        height: 550px; }
        .sliders .sliders5 div.uk-row-first {
          height: 530px; } }

.llamada {
  background: #b31a15;
  width: 100%;
  padding: 30px 90px;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "ll1 ll2"; }
  @media (max-width: 760px) {
    .llamada {
      grid-template-areas: "ll1" "ll2";
      width: 100%;
      padding: 0px;
      grid-gap: 0px; } }
  .llamada .texto {
    grid-area: ll1;
    color: #ffffff;
    text-align: right;
    font-size: 30px; }
    .llamada .texto strong {
      font-weight: 900;
      font-size: 40px; }
    @media (max-width: 760px) {
      .llamada .texto {
        width: 100%;
        text-align: center; } }
  .llamada .boton {
    grid-area: ll2;
    text-align: left;
    margin: 55px; }
    @media (max-width: 760px) {
      .llamada .boton {
        width: 90%;
        margin: 20px auto;
        text-align: center;
        margin-bottom: 40px; } }
    .llamada .boton a {
      border: 1px solid #ffffff;
      display: inline;
      width: 200px;
      text-align: center;
      padding: 10px;
      color: #ffffff;
      text-transform: uppercase; }
    .llamada .boton a:hover {
      background: #e3c51e;
      color: #000; }

.tercio-home {
  height: 570px; }
  .tercio-home h3 {
    text-transform: uppercase; }
  .tercio-home .uk-panel-box > .uk-panel-teaser {
    height: 350px; }
  .tercio-home .uk-position-cover {
    height: 350px; }
  .tercio-home .uk-slideshow {
    height: 350px !important; }
  @media (max-width: 600px) {
    .tercio-home {
      height: 700px; } }

.tercio-home.ps .uk-panel {
  background: #222;
  color: #fff; }
  .tercio-home.ps .uk-panel a {
    color: #a5a5a5; }
@media (max-width: 600px) {
  .tercio-home.ps {
    height: 450px; } }

.tercio-home.ext .uk-panel {
  background: #b31a15;
  color: #fff; }
  .tercio-home.ext .uk-panel a {
    color: #eec700; }

.tercio-home.int .uk-panel {
  background: #eec700;
  color: #222; }
  .tercio-home.int .uk-panel a {
    color: #b31a15; }

.tercio-home.cmm .uk-panel {
  background: #222;
  color: #fff; }
  .tercio-home.cmm .uk-panel a {
    color: #a5a5a5; }

.tercio-home.facv .uk-panel {
  background: #b31a15;
  color: #fff; }
  .tercio-home.facv .uk-panel a {
    color: #eec700; }

#count-box1, #count-box2, #count-box3, #count-box4 {
  display: block;
  color: #B31A15;
  font-size: 5em;
  width: 200px;
  text-align: center; }

.contador {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media (max-width: 760px) {
    .contador {
      flex-direction: column; } }
  .contador .divC {
    background: #B31A15;
    width: 3px;
    height: 62px;
    margin: 30px; }
    @media (max-width: 760px) {
      .contador .divC {
        width: 90%;
        height: 3px; } }
  .contador p {
    text-align: center;
    font-size: 2em;
    line-height: 0em;
    margin-top: 3px !important; }

.nosotros .texto1, .nosotros .texto2, .nosotros .texto3 {
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 30px; }
.nosotros .division {
  background: #B31A15;
  margin: 0px 10px;
  height: 1px;
  width: 30%; }

.socios {
  display: flex;
  margin-top: 90px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px; }
  @media (max-width: 760px) {
    .socios {
      margin-top: 40px; } }
  .socios h2 {
    margin-bottom: 50px; }
  .socios .fotos {
    display: flex;
    justify-content: space-around;
    width: 120%; }
    @media (max-width: 760px) {
      .socios .fotos {
        flex-direction: column; } }
    .socios .fotos .socio1, .socios .fotos .socio2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .socios .fotos .socio1 img, .socios .fotos .socio2 img {
        height: 260px;
        width: 200px;
        margin-bottom: 25px; }
        @media (max-width: 760px) {
          .socios .fotos .socio1 img, .socios .fotos .socio2 img {
            height: 430px;
            width: 320px; } }
      .socios .fotos .socio1 h5, .socios .fotos .socio2 h5 {
        line-height: 20px;
        margin: 1px; }
        @media (max-width: 760px) {
          .socios .fotos .socio1 h5, .socios .fotos .socio2 h5 {
            font-size: 2em;
            line-height: 32px; } }
      .socios .fotos .socio1 p, .socios .fotos .socio2 p {
        line-height: 18px;
        margin: 0px; }
        @media (max-width: 760px) {
          .socios .fotos .socio1 p, .socios .fotos .socio2 p {
            font-size: 1.2em;
            line-height: 1.3em; } }
    @media (max-width: 760px) {
      .socios .fotos .socio1 {
        margin-bottom: 90px; } }

.invierte {
  display: flex;
  width: 100%;
  background: #EBEBEB;
  justify-content: space-around;
  align-items: center;
  padding: 20px; }
  @media (max-width: 760px) {
    .invierte {
      flex-direction: column; } }

.invtext, .traytext {
  background: #B31A15;
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-size: 34px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  line-height: 10px;
  padding: 26px 36px; }
  @media (max-width: 760px) {
    .invtext, .traytext {
      margin: 10px 0px; } }
  .invtext p, .traytext p {
    margin: 0px;
    line-height: 0.4;
    text-transform: uppercase;
    text-align: center; }
  .invtext span, .traytext span {
    font-size: 12px;
    letter-spacing: 6px;
    margin-left: 7px; }

.traytext, .invtext {
  transition: all 0.1s ease; }
  .traytext:hover, .invtext:hover {
    background: #E3C51E;
    color: black; }

.nosotros {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  max-width: 1140px; }
  @media (max-width: 760px) {
    .nosotros {
      margin-left: 25px;
      margin-right: 25px; } }

.con_trabajo {
  margin-top: 120px;
  display: grid;
  position: relative;
  grid-gap: 10px;
  margin-left: 120px;
  margin-right: 120px;
  max-width: 1140px; }
  @media (max-width: 760px) {
    .con_trabajo {
      margin-left: 25px;
      margin-right: 25px; } }
  @media (max-width: 760px) {
    .con_trabajo {
      margin: 0px;
      margin-top: 120px; } }

.tituloG_trabajo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }
  @media (max-width: 760px) {
    .tituloG_trabajo {
      text-align: center;
      font-size: 14px; } }

.linea_trabajoG {
  width: 100%;
  display: grid;
  grid-template-columns: 1.3fr 2fr 1.3fr;
  grid-gap: 10px;
  grid-template-areas: "pos1 texto pos2"; }
  @media (max-width: 760px) {
    .linea_trabajoG {
      grid-template-columns: 1fr;
      grid-gap: 0px;
      grid-template-areas: "texto" "pos1"; } }
  .linea_trabajoG .foto_nt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (max-width: 760px) {
      .linea_trabajoG .foto_nt {
        width: 95%;
        margin: 0px auto;
        margin-bottom: 30px; } }
  .linea_trabajoG .img_trabajoG_par {
    grid-area: pos1; }
  .linea_trabajoG .img_trabajoG_impar {
    grid-area: pos2; }
    @media (max-width: 760px) {
      .linea_trabajoG .img_trabajoG_impar {
        grid-area: pos1; } }
  .linea_trabajoG .texto_trabajoG {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (max-width: 760px) {
      .linea_trabajoG .texto_trabajoG {
        width: 95%;
        margin: 0px auto; } }
    .linea_trabajoG .texto_trabajoG .texto_trabajoG_1 {
      font-weight: 600; }
      @media (max-width: 760px) {
        .linea_trabajoG .texto_trabajoG .texto_trabajoG_1 {
          text-align: center;
          order: 2; } }
    .linea_trabajoG .texto_trabajoG .texto_trabajoG_2 {
      padding: 10px 0px; }
      @media (max-width: 760px) {
        .linea_trabajoG .texto_trabajoG .texto_trabajoG_2 {
          order: 3; } }
    .linea_trabajoG .texto_trabajoG .texto_trabajoG_3 {
      background: #B31A15;
      margin: 0px 0px;
      height: 1px;
      width: 40%;
      margin-bottom: 15px; }
      @media (max-width: 760px) {
        .linea_trabajoG .texto_trabajoG .texto_trabajoG_3 {
          width: 100%;
          order: 1;
          margin: 30px 0px; } }
  .linea_trabajoG .texto_trabajoG_DER {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (max-width: 760px) {
      .linea_trabajoG .texto_trabajoG_DER {
        width: 95%;
        margin: 0px auto; } }
    .linea_trabajoG .texto_trabajoG_DER .texto_trabajoG_1 {
      font-weight: 600; }
      @media (max-width: 760px) {
        .linea_trabajoG .texto_trabajoG_DER .texto_trabajoG_1 {
          text-align: center;
          order: 2; } }
    .linea_trabajoG .texto_trabajoG_DER .texto_trabajoG_2 {
      padding: 10px 0px; }
      @media (max-width: 760px) {
        .linea_trabajoG .texto_trabajoG_DER .texto_trabajoG_2 {
          text-align: justify;
          order: 3; } }
    .linea_trabajoG .texto_trabajoG_DER .texto_trabajoG_3 {
      background: #B31A15;
      margin: 0px 0px;
      height: 1px;
      width: 40%;
      margin-bottom: 5px;
      margin-left: auto; }
      @media (max-width: 760px) {
        .linea_trabajoG .texto_trabajoG_DER .texto_trabajoG_3 {
          width: 100%;
          margin-bottom: 5px;
          order: 1;
          margin-bottom: 30px; } }
  .linea_trabajoG .espacio_trabajoG_par {
    grid-area: pos2; }
  .linea_trabajoG .espacio_trabajoG_impar {
    grid-area: pos1; }
  .linea_trabajoG .video {
    margin-top: -10px; }
    @media (max-width: 760px) {
      .linea_trabajoG .video {
        font-size: 12px;
        width: 90%; } }

.con_proyecto {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .con_proyecto .titulo {
    margin: 20px 0px;
    font-size: 30px; }
  .con_proyecto .proy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 20px; }
    @media (max-width: 760px) {
      .con_proyecto .proy {
        grid-template-columns: 1fr;
        width: 95%;
        margin: 0px 10px; } }
    .con_proyecto .proy .caja {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px #e0e0e0 solid; }
      @media (max-width: 760px) {
        .con_proyecto .proy .caja {
          width: 100%; } }
      .con_proyecto .proy .caja .imagen2 {
        width: 100%;
        height: 345px;
        margin: 0px;
        border: 0px; }
        .con_proyecto .proy .caja .imagen2 .flex-viewport {
          height: 100%; }
        .con_proyecto .proy .caja .imagen2 .flex-control-nav {
          bottom: 6px; }
        @media (max-width: 760px) {
          .con_proyecto .proy .caja .imagen2 {
            width: 99%;
            height: auto;
            margin: 0px;
            border: 0px; }
            .con_proyecto .proy .caja .imagen2 .flex-viewport {
              height: 100%; }
            .con_proyecto .proy .caja .imagen2 .flex-control-nav {
              bottom: 6px; } }
      .con_proyecto .proy .caja .texto {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 90px;
        background: #e0e0e0; }
        .con_proyecto .proy .caja .texto .tituloC {
          margin: 0px;
          margin-left: 10px;
          font-size: 25px;
          font-weight: 600;
          margin-bottom: -17px; }
        .con_proyecto .proy .caja .texto .bajadaC {
          font-size: 16px;
          font-weight: 400;
          margin-left: 10px; }
      .con_proyecto .proy .caja .vermas {
        height: 30px;
        width: 100%;
        margin-top: -5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .con_proyecto .proy .caja .vermas .ver {
          align-self: flex-end;
          margin-right: 10px;
          color: #B31A15;
          font-weight: 600;
          align-self: flex-end; }
        @media (max-width: 760px) {
          .con_proyecto .proy .caja .vermas .video {
            font-size: 12px;
            margin: 0px;
            margin-top: 10px;
            height: 10px; } }

.cont_maq {
  margin-top: 120px;
  margin-left: 120px;
  margin-right: 120px;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media (max-width: 760px) {
    .cont_maq {
      margin-left: 25px;
      margin-right: 25px; } }
  .cont_maq .maquinaria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 20px; }
    @media (max-width: 760px) {
      .cont_maq .maquinaria {
        grid-template-columns: 1fr;
        width: 95%;
        margin: 0px 10px; } }
    .cont_maq .maquinaria .cajaM {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px #e0e0e0 solid; }
      @media (max-width: 760px) {
        .cont_maq .maquinaria .cajaM {
          width: 100%; } }
      .cont_maq .maquinaria .cajaM .imagen {
        width: 100%;
        height: auto; }
      .cont_maq .maquinaria .cajaM .texto {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        height: 70px;
        width: 100%; }
        .cont_maq .maquinaria .cajaM .texto .numero {
          background: #B31A15;
          color: white;
          font-size: 45px;
          padding: 10px 20px; }
        .cont_maq .maquinaria .cajaM .texto .textoensi {
          background: #EBEBEB;
          padding-left: 10px;
          line-height: 9px;
          font-weight: 600;
          flex-grow: 2;
          height: 70px; }
      .cont_maq .maquinaria .cajaM .vermas {
        height: 30px;
        width: 100%;
        margin-top: -5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 1px; }
        .cont_maq .maquinaria .cajaM .vermas .ver {
          align-self: flex-end;
          margin-right: 10px;
          color: #B31A15;
          font-weight: 600;
          align-self: flex-end;
          margin-left: 10px; }
        @media (max-width: 760px) {
          .cont_maq .maquinaria .cajaM .vermas .video {
            font-size: 12px;
            margin: 0px;
            margin-top: 10px;
            height: 10px; } }
        .cont_maq .maquinaria .cajaM .vermas .pdf {
          background: #B31A15;
          color: white;
          font-size: 12px;
          padding: 4px 15px;
          margin-top: 9px;
          transition: all 0.2s ease-in; }
          .cont_maq .maquinaria .cajaM .vermas .pdf:hover {
            color: black;
            background: #E3C51E; }
          @media (max-width: 760px) {
            .cont_maq .maquinaria .cajaM .vermas .pdf {
              padding: 9px 20px;
              margin-top: 9px; } }

.contacto {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  max-width: 1140px; }
  @media (max-width: 760px) {
    .contacto {
      margin-left: 25px;
      margin-right: 25px; } }
  .contacto .c1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 50px; }
    @media (max-width: 760px) {
      .contacto .c1 {
        flex-direction: column; } }
    .contacto .c1 .c1_form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 60%; }
      .contacto .c1 .c1_form .tituloCon {
        font-size: 1em; }
      .contacto .c1 .c1_form .formulario {
        width: 600px; }
        @media (max-width: 760px) {
          .contacto .c1 .c1_form .formulario {
            width: 150%; } }
        .contacto .c1 .c1_form .formulario .wpcf7-text {
          width: 98%;
          height: 40px;
          border-radius: 1px;
          padding: 5px; }
        .contacto .c1 .c1_form .formulario .wpcf7-textarea {
          width: 98%;
          height: 90px;
          border-radius: 1px;
          padding: 5px; }
        .contacto .c1 .c1_form .formulario .wpcf7-submit {
          width: 100%;
          height: 44px;
          padding: 10px;
          background: #B31A15;
          color: #FFF;
          margin-top: 10px;
          border: 0px; }
        .contacto .c1 .c1_form .formulario .wpcf7-form p {
          margin-top: -12px; }
    .contacto .c1 img {
      margin-top: 100px;
      height: 350px;
      margin-left: 20px; }

.c2 {
  display: flex;
  background: #EBEBEB;
  justify-content: center;
  height: 450px;
  width: 100%;
  padding: 40px 0px; }
  @media (max-width: 760px) {
    .c2 {
      flex-direction: column;
      height: auto; } }
  .c2 .mapa {
    width: 31%;
    margin-left: 1%;
    margin-right: 1%; }
    @media (max-width: 760px) {
      .c2 .mapa {
        width: 95%; } }
  .c2 .leyenda {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
    font-weight: 900; }
    @media (max-width: 760px) {
      .c2 .leyenda {
        margin-bottom: 60px; } }

.desarrollo {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  max-width: 1140px; }
  @media (max-width: 760px) {
    .desarrollo {
      margin-left: 25px;
      margin-right: 25px; } }
  .desarrollo input {
    height: 29px;
    margin-bottom: 10px;
    width: 368px;
    padding: 7px;
    border-radius: 6px; }
  .desarrollo .sub {
    background: #B31A15;
    color: #FFF;
    padding: 8px 47px;
    font-size: 15px;
    margin-bottom: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 3px; }
    .desarrollo .sub:hover {
      background: #EBEBEB;
      color: black; }

.tit_des {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }

.banner-ppal {
  width: 100%; }

.banner-ppal h3 {
  background: #B31A15;
  color: #ffffff;
  font-size: 45px;
  padding: 10px;
  display: initial; }

.banner-ppal legend {
  background: #ffffffa6;
  color: black;
  padding: 10px; }

.banner-ppal a.banner {
  background: #E3C51E;
  margin-top: 20px;
  padding: 10px;
  color: black;
  transition: all 0.2s ease; }

.banner-ppal a.banner:hover {
  background: #000;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  transition: all 0.2s ease;
  padding-left: 20px; }

.banner-ppal a.banner:after {
  content: "\f054";
  font-family: "FontAwesome";
  padding-left: 5px; }

@media (max-width: 1052px) {
  .banner-ppal .uk-overlay-panel {
    margin-top: 100px; } }
@media (max-width: 800px) {
  .banner-ppal .uk-thumbnav > * > * > img {
    opacity: .7;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    width: 30px;
    height: 30px; }

  .banner-ppal .uk-flex-right {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-bottom: -20px;
    position: absolute;
    right: 20%;
    left: 20%;
    margin-top: 15px; } }
.flex-direction-nav .flex-prev {
  left: 0px; }

.flex-direction-nav .flex-next {
  right: 0px;
  text-align: right; }

.dekaz {
  background-color: #961010;
  width: 100%;
  text-align: right; }

.dekaz p {
  color: rgba(251, 251, 251, 0.8); }

.dekaz a {
  color: #e3c61f; }

.dekaz a:hover {
  color: #FFF; }

.dekaz p {
  color: rgba(251, 251, 251, 0.6);
  margin-right: 20px;
  font-size: 13px; }

.sr-text img {
  width: 40px; }

#menu-principalmenu li:nth-child(7), #menu-principalmenu li:nth-child(8) {
  width: inherit;
  margin-right: inherit; }

#menu-menuprincipal li:nth-child(7), #menu-menuprincipal li:nth-child(8) {
  width: inherit;
  margin-right: inherit; }

@media (max-width: 760px) {
  header {
    margin-top: 40px; } }
@media (min-width: 761px) {
  nav#top-menu {
    display: none; } }
nav#top-menu li {
  /* width: 500px; */
  float: left;
  list-style-type: none;
  margin: 0px 5px; }

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; }

a {
  text-decoration: none; }

h1 {
  font-size: 3em !important;
  font-weight: bold; }

#embedpop {
  position: fixed;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #embedpop .embedcerrar {
    align-self: flex-end; }

.galerias {
  width: 90%;
  margin: 30px; }
  .galerias .uk-overlay-background {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff; }
  .galerias .uk-overlay-icon:before {
    color: #fff; }

.uk-tab-center {
  border-bottom: 1px solid #e5e5e5;
  width: 90%; }

.margenes {
  margin: 100px;
  width: 90%;
  max-width: 1290px; }
  .margenes .titulo {
    font-size: 3em !important;
    margin-top: 80px; }

.interior p {
  margin-bottom: 40px; }
.interior .uk-tab > li.uk-active > a {
  border-color: #e5e5e5 #e5e5e5 transparent;
  background: #b31a15;
  color: #eec700;
  font-size: 20px;
  border: 0px;
  transition: all 400ms ease-out; }
.interior .uk-slidenav-position .uk-slidenav {
  display: inherit; }
.interior .uk-slidenav-position .uk-slidenav-previous {
  left: -20px;
  color: #fff;
  background: #b31a14;
  font-size: 40px;
  width: 40px;
  position: absolute; }
.interior .uk-slidenav-position .uk-slidenav-next {
  right: -20px;
  color: #fff;
  background: #b31a14;
  font-size: 40px;
  width: 40px;
  position: absolute; }
.interior .uk-slidenav-position .uk-slidenav-previous:hover, .interior .uk-slidenav-position .uk-slidenav-next:hover {
  background: #eec700;
  color: #b31a14; }
.interior .uk-position-cover:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: all 400ms ease-out; }
.interior .uk-position-cover:hover:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  font-size: 50px;
  line-height: 1;
  font-family: FontAwesome;
  text-align: center;
  color: #ffffff; }
.interior .uk-panel-title {
  font-size: 30px;
  margin-bottom: 40px; }
@media (min-width: 768px) {
  .interior .uk-tab-left {
    border-right: 1px solid #b31a15; } }

.uk-modal {
  background: rgba(0, 0, 0, 0.8); }

.uk-modal-caption {
  display: none; }

.vineta-quehacemos {
  column-count: 2;
  column-gap: 20px;
  column-rule: 0px solid red;
  margin-bottom: 30px; }

.fondogris {
  background: #ccc;
  padding: 50px 100px 100px 100px;
  margin-top: -100px; }

.uk-subnav-pill > .uk-active > * {
  color: #ffffff;
  box-shadow: none;
  background: #d30d00;
  border-radius: 0px;
  padding: 10px; }

.uk-subnav > li > a {
  background: #f2f2f2;
  padding: 10px; }

.uk-panel-teaser, .uk-overlay {
  width: 100%;
  height: 300px; }
  .uk-panel-teaser img, .uk-overlay img {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=app.css.map */
